.info
  min-height: 80vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  .info-title
    font-size: $large
    color: $dark-color

    &:before
      content: '/ '
      color: $main-color

  .info-pargph
    width: 450px
    text-align: justify
    color: $dark-color
    font-size: $small


@media screen and (max-width: 500px)
  .info
    .info-pargph
      width: 100%
      padding: 10px 20px
